@import '~bootstrap/scss/bootstrap';


.ms-button{
    color: red;
    border: none;
    background-color: transparent;
    padding: 0;
}

.ms-card-img{
    width: 30%;
}

.ms-img-container{
    img{
        width: 100%;
    }
    width: 5%;
}